* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* border: 5px green solid; */
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  background-color: FF742B;
  /* border: 1px yellowgreen solid; */
  padding: 4px;
}

.Hpic {
  padding: 0;
  height: 45px;
  width: 45px;
  /* border: green solid 5px; */
  /* margin: 20px; */
}
h2 {
  display: flex;
  font-size: medium;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* border: 5px purple solid; */
  margin: 0;
  align-content: center;
  padding: 5px;
}

.SearchHackerNews {
  display: block;
  font-size: 18px;
  font-style: Verdana, sans-serif;
  font-weight: bold;
  width: 117.23;
  height: fit-content;
  /* border: 5px purple solid; */
  margin: 0;
  justify-content: center;
  align-content: center;
  padding: 5.25px;
}

.searchWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  /* border: 5px solid blue; */
}

.settings {
  display: flex;
  flex-direction: row;
  font-size: medium;
  font-weight: bold;
  width: auto;
  height: auto;
  /* border: 5px purple solid; */
  margin: 0;
  align-content: space-between;
  padding: 5px;
}

input {
  font-size: 1 rem;
}

.ListLi {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 5px solid red;
}

.card {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  gap: 0.25 rem;
  margin-top: 1rem;
}

.card < .Title {
  margin: 12rem;
}

.card < .Url {
  margin: 12rem;
  color: #777;
}

.hide {
  display: none;
}

.dropDownMenu {
  display: flex;
  font-weight: bold;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  /* border: 5px solid red; */
}

.pageTab {
  list-style: none;
  list-style-position: inside;
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  /* border: 5px solid purple; */
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  list-style-type: none;
  margin: 0;
  /* border: 5px solid purple; */
}

.footer_ul {
  list-style: none;
  list-style-position: inside;
  text-align: center;
  display: flex;
  width: fit-content;
  /* justify-content: center; */
  align-content: space-around;
  flex-wrap: wrap;
  margin-top: 0;
  /* border: 5px solid purple; */
}

/* li{
  border: 5px solid yellow;

} */
